<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NetModMaterial.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NetModMaterial.Properties.Settings>
      <setting name="ssh_local_port" serializeAs="String">
        <value>1080</value>
      </setting>
      <setting name="http_local_port" serializeAs="String">
        <value>8089</value>
      </setting>
      <setting name="ssh_udpgw_buff" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ssh_udpgw_port" serializeAs="String">
        <value>7300</value>
      </setting>
      <setting name="proxy_tethering" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dns_primary" serializeAs="String">
        <value>1.1.1.1</value>
      </setting>
      <setting name="dns_secondary" serializeAs="String">
        <value>1.0.0.1</value>
      </setting>
      <setting name="v2ray_fakedns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v2ray_sniffing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v2ray_allow_insecure" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ssh_reconnect_max" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ssh_compress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="proxy_server_local_port" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="proxy_server_tls_version" serializeAs="String">
        <value>Auto</value>
      </setting>
      <setting name="proxy_so_buff_send" serializeAs="String">
        <value>16384</value>
      </setting>
      <setting name="proxy_so_buff_rcv" serializeAs="String">
        <value>32768</value>
      </setting>
      <setting name="default_dns" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v2ray_mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hc_sni_target_host" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_sni_target_port" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_proxy_host" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_proxy_port" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_url" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_method" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hc_sni_host" serializeAs="String">
        <value />
      </setting>
      <setting name="hc_proxy_cb" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="connection_mode" serializeAs="String">
        <value>VPN</value>
      </setting>
      <setting name="remove_def_gw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ping_host" serializeAs="String">
        <value>https://cp.cloudflare.com/generate_204</value>
      </setting>
      <setting name="ssh_mode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="theme_v2" serializeAs="String">
        <value>Light</value>
      </setting>
      <setting name="v2ray_index" serializeAs="String">
        <value />
      </setting>
      <setting name="ssh_cb" serializeAs="String">
        <value />
      </setting>
      <setting name="ssl_cb" serializeAs="String">
        <value />
      </setting>
      <setting name="proxy_cb" serializeAs="String">
        <value />
      </setting>
      <setting name="mux_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mux_concurrency" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="mux_quic_traffic" serializeAs="String">
        <value>reject</value>
      </setting>
      <setting name="fragment_enable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fragment_pkt" serializeAs="String">
        <value>tlsHello</value>
      </setting>
      <setting name="fragment_len" serializeAs="String">
        <value>50-100</value>
      </setting>
      <setting name="fragment_interval" serializeAs="String">
        <value>10-20</value>
      </setting>
      <setting name="bypass_lan_route_v2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="pref_ipv6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="vpn_driver" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="vpn_driver_v2" serializeAs="String">
        <value>1</value>
      </setting>
    </NetModMaterial.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.7.2151" newVersion="2.1.7.2151" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>