1. Operating System

Windows 7 or higher (Windows 8, 8.1, 10, 11 supported)

2 .NET Framework 4.7.2

Download: https://dotnet.microsoft.com/en-us/download/dotnet-framework/net472

3. Microsoft Visual C++ 2015–2019 Redistributable

Download: https://learn.microsoft.com/en-us/cpp/windows/latest-supported-vc-redist

4. Anti Virus Exclusion
Some anti virus may flagged NetMod as false positive due to unverified signature
exclude install exe and install dir to prevent it from being deleted

FAQ

Q: Why NetMod shows error "Failed to start VPN: Local Area Connection did not respond.." upon starting VPN service?

A: If your system has TAP-windows software or similar software that use TAP windows drivers
You need to remove its tap drivers first because it's not compatible with NetMod's.

If issue still persists, try hard uninstall TAP drivers via 
Device Manager > Network Adapters > right click on any "TAP-Windows Adapter.." > 
Uninstall Device > check option "Attempt to remove the driver for this device" > 
Uninstall > Then install TAP drivers via NetMod's Settings.

If above steps still not fixing the issue, install tap drivers manually from this link
https://build.openvpn.net/downloads/releases/